#scrollUp {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 3vw;
    height: 3vw;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollUp i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 0.7vw;
    top: 0.5vw;
    font-size: 1.6vw;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#scrollUp:hover {
    background: rgba(0, 0, 0, 0.9);
}
#scrollUp:hover i {
    color: #fff;
    top: 5px;
}
