@font-face {
font-family: 'Kiona-Regular';
src: url('font/Kiona-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Berserker-Regular';
src: url('font/Berserker-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
  background-color: #f2f5ea;
  font-family: "Kiona-Regular";
  color: #141414;
  z-index: 1;
}

.top{
  background-image: url(../images/banniere.jpg);
  background-attachment: fixed;
  padding: 300px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-left:-9px;
  margin-right:-9px;
  width:100vw;
}



.toptitle{
  color: #f2f5ea;
  position: absolute;
  top: 149px;
  left: 20px;
}

.paratop{
  color: #f2f5ea;
  position: absolute;
  left: 20px;
  font-size: 35px;
}

.button{
  position: absolute;
  top: 700px;
  left: 50px;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.imgbutton{
  left: 50px;
  top: 730px;
}

.button1{
  position: absolute;
  top: 700px;
  left: 40vw;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.imgbutton1{
  left: 150px;
  top: 730px;
  max-width: 282px;
}

a:hover{
  color: #FF6B6B;
}

.button2{
  position: absolute;
  top: 700px;
  right: 66px;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.button3{
  position: absolute;
  top: 1350px;
  left: 50px;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.button5{
  position: absolute;
  top: 1350px;
  right: 66px;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.button4{
  position: absolute;
  top: 1350px;
  left: 40vw;
  padding: 30px;
  width: 282px;
  border: solid 10px #141414;
  color: #f2f5ea;
  background-color: #141414;
  margin-bottom: 20px;
}

.imgbutton2{
  right: 88px;
  top: 730px;
  max-width: 282px;
}

.imgbutton3{
  right: 88px;
  top: 730px;
  max-width: 282px;
}

.para{
  text-align: justify;
}

*{
	box-sizing: border-box;
}

h1{
  font-size: 43px;
}

h2{
  font-size: 30px;
}

p{
  font-size: 25px;
}

.accueil{
  background-color: #141414;
}

a{
  text-decoration: none;
  color: #f2f5ea;
  font-family: 'Kiona-Regular';
  font-weight: bold;
}


.center{
  text-align: center;
}



.indent {
  text-indent: 40px;
}

header/*bandeau haut*/
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 111px;
    background-color: rgb(236,138,1);
    z-index: 10;
    /* line-height:111px; */
}

nav{
	background-color: #141414;
	text-align: center;
	padding: 55px;
	position: relative;
  padding-left: 20px;

}

nav.straight{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: solid 5px #FF6B6B;
}

.main{
  margin-top: 42px;
}

nav .logo{
	position: absolute;
	top: 0px;
	left:10px;
  width: 7vw;
	border-radius: 360px;
  margin-top: 5px;
}

.logo1{
  border: solid 3px #f2f5ea;
}

nav a{
  font-size: 18px;
	margin: 5px;
	text-decoration: none;
	color: #f2f5ea;
}

nav a:hover{
	color:#FF6B6B;
}

nav a.active{
	color:#FF6B6B;
	pointer-events: none;
}

.miniban{
  width: 321px;
  height: 271px;
  border: solid 10px #141414;
  text-align: center;
}
